.illustration-container {
    width: 800px;
}

.illustration-container svg {
    width: 100%;
}

.parallax {
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

#clouds {
    --x: 100px;
    --y: 0;
}